<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleHasStrictIdentifier</key>
		<true/>
		<key>BundleIsRelocatable</key>
		<false/>
		<key>BundleIsVersionChecked</key>
		<true/>
		<key>BundleOverwriteAction</key>
		<string>upgrade</string>
		<key>ChildBundles</key>
		<array>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Applications/NiziPOSConnector.app/Contents/Frameworks/Python3.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Applications/NiziPOSConnector.app/Contents/Frameworks/PyQt6/Qt6/lib/QtPdf.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Applications/NiziPOSConnector.app/Contents/Frameworks/PyQt6/Qt6/lib/QtGui.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Applications/NiziPOSConnector.app/Contents/Frameworks/PyQt6/Qt6/lib/QtDBus.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Applications/NiziPOSConnector.app/Contents/Frameworks/PyQt6/Qt6/lib/QtCore.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Applications/NiziPOSConnector.app/Contents/Frameworks/PyQt6/Qt6/lib/QtWidgets.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Applications/NiziPOSConnector.app/Contents/Frameworks/PyQt6/Qt6/lib/QtNetwork.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Applications/NiziPOSConnector.app/Contents/Frameworks/PyQt6/Qt6/lib/QtSvg.framework</string>
			</dict>
		</array>
		<key>RootRelativeBundlePath</key>
		<string>Applications/NiziPOSConnector.app</string>
	</dict>
</array>
</plist>
